# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
venv/

# Environment variables
.env

# Docker
*.log

# Database files
*.db

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
